
<div class="resume container-fluid">

<div class="education row">
  <div class="col-xs-10 col-xs-offset-1">
  <h1>Education</h1>
  <% @schools.each do |school|%>
    <div class="info_container row">

      <div class="col-xs-1">
        <%= image_tag school.image_path%>
      </div>

      <div class="col-xs-3">
          <h3><%= school.name %></h3><br>
          <h5><%= school.location %></h5><br>
          <%=  school.start_date.strftime("%B %Y") %> - <%= school.end_date.strftime("%B %Y") %>
      </div>

      <div class="info_title col-xs-8">
        <%= school.degree %>
        <div class="additional_info">
          <%= raw school.additional_info %>
        </div>
      </div>

    </div>
  <% end %>
</div>

<div class="experience row">
  <div class="col-xs-10 col-xs-offset-1">
  <h1>Experience</h1>
  <% @jobs.each do |job|%>
  <div class="info_container row">
      <div class="col-xs-2">
        <%= image_tag job.company_logo%>
      </div>

      <div class="col-xs-4">
        <h4> <%= job.company %></h4><br>
        <h6> <%= job.location %><br>
        <span class="no_bold"><%=  job.start_date.strftime("%B %Y") %> - <%= job.end_date.strftime("%B %Y") %></span></h6>
      </div>

      <div class="col-xs-6">
        <div class="info_title"><%= job.title %></div><br>
        <%= job.highlights %>
      </div>
  </div>
  <% end %>
  </div>
</div>

<div class="it_skills row">
  <div class="col-xs-10 col-xs-offset-1">
    <h1>Information Technology Skills</h1>

    <div class="info_container row">
    <% @expertise_areas.each do |area|%>
    <div class="col-xs-4">
      <h4><%= area.name %></h4><br>
      <ul>
        <% area.skills.each do |skill| %>
          <li><%= skill.name %>
              <ul>
              <% skill.skill_specifics.each do |detail|%>
                <li><%= detail.description %></li>
              <% end %>
              </ul>
          </li>
        <% end %>
      </ul>
    </div>
    <% end %>
    </div>
  </div>
</div>

<div class="additional row">
  <div class="col-xs-10 col-xs-offset-1">
  <h1>Additional</h1>
  <% @additional_details.each do |additional| %>
  <div class="info_container other row">
    <div class="col-xs-4">
      <h4><%= additional.name %></h4><br>
    </div>
     <div class="info_group col-xs-8">
     <%= raw additional.description %>
     </div>
  </div>
  <% end %>
  </div>
</div>

</div>


