<div id="tabs" class="resume container-fluid" ng-app="MyResume">
<div class="row" ng-controller="ResumeController">

  <div class="sidebar">
  <div class="col-xs-2">
    <div id="filters" class="filters">

      <ul ui-sortable ng-model="sections" class="nav nav-pills nav-stacked">
        <div class ="toc_header"><h1 class="header_font">Sections</span></h1></div>
        <li ng-repeat="section in sections">
          <a href="">
          {{section.name}}
            <i ng-click="toggleVisibility( section )" ng-class="{true: 'fa fa-toggle-off', false: 'fa fa-toggle-on'}[section.hide]"></i>
          </a>
        </li>
      </ul>
      <span class="aside"> ( Drag and drop sections to reorder ) </span>

      <ul ui-sortable ng-model="sections" class="nav nav-pills nav-stacked">
        <div class ="toc_header"><h1 class="header_font">Filters</span></h1></div>
        <li><a href="">Level of Detail</a>
        <div ng-model="levelsOfDetail"class="detail btn-group">
          <button
            ng-repeat="level in levelsOfDetail"
            ng-class="{'true': 'active'}[levelOfDetail == level]"
            ng-click="switchDetail( level )"
            type="button"
            class="btn btn-default">
            {{level}}
          </button>
        </div>
      </ul>
    </div>


  </div>
  </div>


  <div class="col-xs-9 col-xs-offset-2 main_page">

    <ul>
      <li ng-repeat="section in sections">
        <div class="row info_collection" ng-hide="section.hide">
          <div class="col-xs-11">

          <div class="info_header">
            <div class="info_header_line">
              <h1 class="header_font">{{section.name}}</span></h1>
            </div>
          </div>

          <div ng-if="section.name == 'Education'">
          <ul class="nav nav-tabs">
            <li ng-class="{'Full-time': 'active'}[section.filter]" ng-click="toggleFilter( section, 'Full-time' )"><a href="">Degree-Seeking</a></li>
            <li ng-class="{'Part-time': 'active'}[section.filter]" ng-click="toggleFilter( section, 'Part-time' )"><a href="">Partial Enrollment</a></li>
            <li ng-class="{'All': 'active'}[section.filter]" ng-click="toggleFilter( section, 'All' )"><a href="">All</a></li>
          </ul>

          <% @schools.each do |school|%>
            <div class="info_container row" ng-show="section.filter == '<%= school.status%>' || section.filter == 'All' " >

            <div class="col-xs-2">
              <%= image_tag school.image_path%>
            </div>

            <div class="col-xs-4">
              <h4 class="header_font"><%= school.name %></h4><br>
              <h4><%= school.location %></h4><br>
              <span class="no_bold"><%=  school.start_date.strftime("%B %Y") %> - <%= raw "#{school.end_date.strftime("%B %Y")} <em>#{school.date_note}</em>" %></span>
            </div>

            <div class="info_title col-xs-6">
              <%= school.degree %>
              <div class="additional_info">
                <%= raw school.additional_info %>
              </div>
            </div>

            </div>
          <% end %>
          </div>

          <div ng-if="section.name == 'Experience'">
           <ul class="nav nav-tabs">
            <li ng-class="{'Full-time': 'active'}[section.filter]" ng-click="toggleFilter( section, 'Full-time' )"><a href="">Full-time</a></li>
            <li ng-class="{'Part-time': 'active'}[section.filter]" ng-click="toggleFilter( section, 'Part-time' )"><a href="">Part-time</a></li>
            <li ng-class="{'All': 'active'}[section.filter]" ng-click="toggleFilter( section, 'All' )"><a href="">All</a></li>
          </ul>
          <% @jobs.each do |job|%>
            <div class="info_container row" ng-show="section.filter == '<%= job.status%>' || section.filter == 'All' ">
              <div class="col-xs-2">
                <%= image_tag job.company_logo%>
              </div>

              <div class="col-xs-4">
                <h4 class="header_font"> <%= job.company %></h4><br>
                <h4> <%= job.location %></h4><br>
                <span class="no_bold"><%=  job.start_date.strftime("%B %Y") %> - <%= job.end_date.strftime("%B %Y") %></span>
              </div>

              <div class="col-xs-6">
                <h3><%= job.title %></h3><br>
                <span class="no_bold"><%= job.highlights %></span>
              </div>
            </div>
          <% end %>
          </div>

          <div ng-if="section.name == 'Skill Sets'">
          <div class="info_container row">
            <% @expertise_areas.each do |area|%>
            <div class="col-xs-6">
              <h4 class="header_font"><%= area.name %></h4><br>
              <ul>
                <% area.skills.each do |skill| %>
                  <li><%= skill.name %>
                      <ul>
                      <% skill.skill_specifics.each do |detail|%>
                        <li><%= detail.description %></li>
                      <% end %>
                      </ul>
                  </li>
                <% end %>
              </ul>
            </div>
            <% end %>
          </div>
          </div>

          <div ng-if="section.name == 'Additional'">
          <% @additional_details.each do |additional| %>
            <div class="info_container other row">
              <div class="col-xs-2">
                <h4 class="header_font"><%= additional.name %></h4><br>
              </div>
               <div class="info_group col-xs-8">
               <%= raw additional.description %>
               </div>
            </div>
          <% end %>
          </div>

          <div ng-if="section.name == 'Map'">
            <div class="map row info_collection" id="resume_map" ng-hide="sections[4].hide"></div>
          </div>
        </div>
      </li>
    </ul>
  </div>

</div>
</div>


