<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='http://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=News+Cycle:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <title><%= content_for?(:title) ? yield(:title) : "Ted Kwasnik" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", "modernizr" %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
  </head>

  <body class="body_div">

  <div class="navbar navbar navbar-fixed-top" role="navigation">
  <div class="containter">
       <div class="navbar-header"><a href="/" class="navbar-brand" %><h2 class="title title_font">ted kwasnik</h2></a></div>

    <ul class = "nav navbar-nav header_links ">
        <li><a class="header_link" href="/resume">Resume</a></li>
        <li><a class="header_link" href="#">Projects</a></li>
        <li><a class="header_link" href="#">Pictures</a></li>
    </ul>
  </div>
  </div>

  <%= yield %>

  </body>
</html>
