<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>

    <title><%= content_for?(:title) ? yield(:title) : "Ted Kwasnik" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
  </head>

  <body class="body_div">

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="containter">
       <div class="navbar-header"><a href="/" class="navbar-brand" %>ted kwasnik</a></div>

    <ul class = "nav navbar-right navbar-nav">
        <li><a href="/resume">Resume</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Pictures</a></li>
    </ul>
  </div>
  </div>

  <%= yield %>

  </body>
</html>
